<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<meta property=og:type content=website>
<meta property=og:url content=192.168.0.8>
<meta property=og:title content="EggLord - The Discord Bot">
<meta property=og:description content="Manage your Discord server with leveling, moderation, Twitch, Youtube and Reddit notifications.">
<body>
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3"><%= bot.username%></h1>
      <p class="lead">Configure moderation, leveling, Twitch & Youtube alerts, and much more with the most easy-to-use dashboard!</p>
      <a href="/invite" class="btn btn-primary btn-lg">Add to Discord</a>
      <a href="/commands" class="btn btn-primary btn-lg">See features</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/img/command-preview.png" alt="command preview" width=auto height=auto>
          <div class="card-body">
            <h4 class="card-title">Commands</h4>
            <p class="card-text"><%= bot.username%> boasts over 100 commands to completely customise your server.</p>
          </div>
          <div class="card-footer">
            <a href="/commands" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/img/status-preview.png" alt="status preview" width=auto height=auto>
          <div class="card-body">
            <h4 class="card-title">Status</h4>
            <p class="card-text"><%= bot.username%> boasts over 99% uptime with very low ping</p>
          </div>
          <div class="card-footer">
            <a href="/status" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/img/help-preview.png" alt="help preview" width=auto height=auto>
          <div class="card-body">
            <h4 class="card-title">Help</h4>
            <p class="card-text">Need help setting up you server? No problem, look through our extensive but easy to read docs.</p>
          </div>
          <div class="card-footer">
            <a href="/help" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/img/premium-preview.png" alt="premium preview" width=auto height=auto>
          <div class="card-body">
            <h4 class="card-title">Premium</h4>
            <p class="card-text">Do you want extra features? Of cause you do, who wouldn't want more features.</p>
          </div>
          <div class="card-footer">
            <a href="/premium" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('blocks/footer', {bot:bot}) %>
